
:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}

.header-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.header-logo img {
    width:100px;
    height:20px;
}
.header-nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;

}
.header-nav a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
   
}
.header-button {
    background-color: var(--red);
    border: none;
    color: #fff;
    padding: 5px 10px;
}
